<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206213649112-aacasuqeql8o2qa63i644o6csm009kmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206213649112-aacasuqeql8o2qa63i644o6csm009kmd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206213649112-al8fuorbrjl6vovusjn7164t4307gtrf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5rMUZ6Tt_9dLM68YZPKYf6LMdwIS94Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>206213649112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobrbb</string>
	<key>PROJECT_ID</key>
	<string>scjrbb</string>
	<key>STORAGE_BUCKET</key>
	<string>scjrbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206213649112:ios:ca5142652e9a3a34ebbdad</string>
</dict>
</plist>